<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_header")
    @RenderSection("Styles", false)
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="col-sm-12 select-info">
            @RenderSection("Search", false)
        </div>
        <div class="col-sm-12 select-table table-striped">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>

