@using Company.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Search{
    <div class="divSearchForm" id="searchToolbar">
        <form class="form-inline form-search" method="post" style="margin-bottom:5px">
            <div class="form-group">
                <label class="control-label">检索词</label>
                <input class="input-sm form-control" name="Filter" />
            </div>
            @Html.Partial("~/Views/Shared/_searchButtons.cshtml")
        </form>
    </div>
}
<table class="table">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <!--遍历Action方法 设置给viewdata的数据集合，生成html代码-->
        @foreach (Staff staff in ViewData["datalist"] as List<Staff>)
        {
            <tr>
                <td>@staff.Name</td>
                <td>@staff.Age </td>
                <td>@(staff.Sex=="1"?"男":"女") </td>                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = staff.StaffId }) |
                    @Html.ActionLink("Details", "Details", new { id = staff.StaffId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = staff.StaffId })
                </td>
            </tr>
        }



    </tbody>
</table>
